.list-index {
    list-style: inside;
    display: inline-block;
  width: 150px;
  height: 60px;
  padding: 15px;
  border: 3px solid #E9967A;
  background-color: #FFF8DC;
  font-size: 18px;
    font-weight: bold;
}
.bread {
    color: #800080;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    .next {
    color: #191970;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
.background {
    background-color: #E0FFFF;
}
.background-two {
    background-color: #FFF8DC;
}